Package: me.k3a.systemsnippet
Name: systemsnippet
Depends: firmware (>= 5.0), gsc.assistant | com.chpwn.spire, me.k3a.ae
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome extension for Siri!
Maintainer: K3A
Author: K3A
Section: Addons (AssistantExtensions)
