Package: me.k3a.locationtest
Name: LocationTest
Depends: firmware (>= 5.0), gsc.assistant | com.chpwn.spire, me.k3a.ae
Version: 0.0.1-11
Architecture: iphoneos-arm
Description: Location services test
Maintainer: K3A
Author: K3A
Section: Addons (AssistantExtensions)
Installed-Size: 24
