Package: me.k3a.ae.toggles
Name: SBSToggles
Depends: firmware (>= 5.0), gsc.assistant | com.chpwn.spire, me.k3a.ae
Version: 0.0.1
Architecture: iphoneos-arm
Description: SBSettings Toggles for AE
Maintainer: K3A
Author: K3A
Section: Addons (AssistantExtensions)
