<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "--//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
	<dict>
		<key>example</key>
		<string>Standard Stuff</string>
		<key>icon</key>
		<string>Icon</string>
		<key>patterns</key>
		<dict>
			<key>LaunchApp</key>
			<dict>
				<key>category</key>
				<string>Opening apps</string>
				<key>examples</key>
				<array>
					<string>Open Settings</string>
					<string>Launch Cydia</string>
				</array>
				<key>patterns</key>
				<array>
					<string>open|launch [the] (app:&lt;word&gt;+) [application|app]</string>
				</array>
			</dict>
			
			<key>KillApp</key>
			<dict>
				<key>category</key>
				<string>Killing apps</string>
				<key>examples</key>
				<array>
					<string>Exit the App Store</string>
					<string>Quit Cydia</string>
					<string>Kill all apps</string>
					<string>End the Safari process</string>
				</array>
				<key>patterns</key>
				<array>
					<string>kill|exit|quit|end|close [the] (app:&lt;word&gt;+) [application|app|applications|apps|process|processes]</string>
				</array>
			</dict>
			
			<key>PerformRespring</key>
			<dict>
				<key>category</key>
				<string>Respringing</string>
				<key>examples</key>
				<array>
					<string>Respring</string>
					<string>Perform a respring</string>
					<string>Restart SpringBoard</string>
				</array>
				<key>patterns</key>
				<array>
					<string>restart springboard</string>
					<string>[perform|do] [a] respring</string>
				</array>
			</dict>
			
			<key>PerformReboot</key>
			<dict>
				<key>category</key>
				<string>Rebooting</string>
				<key>examples</key>
				<array>
					<string>Reboot</string>
					<string>Perform a reboot</string>
				</array>
				<key>patterns</key>
				<array>
					<string>[perform|do] [a] reboot [the] [iphone|ipod|ipad|device|yourself]</string>
				</array>
			</dict>
			
			<key>PerformShutdown</key>
			<dict>
				<key>category</key>
				<string>Shutting down</string>
				<key>examples</key>
				<array>
					<string>Shut down</string>
					<string>Power down</string>
					<string>Power off</string>
					<string>Perform a shut down</string>
				</array>
				<key>patterns</key>
				<array>
					<string>[perform|do] [a] shut|power off|down [the] [iphone|ipod|ipad|device|yourself]</string>
					<string>shutdown</string>
				</array>
			</dict>
			
			<key>PerformLock</key>
			<dict>
				<key>category</key>
				<string>Locking</string>
				<key>examples</key>
				<array>
					<string>Lock</string>
					<string>Go to the lock screen</string>
				</array>
				<key>patterns</key>
				<array>
					<string>[go] [to] [the] lock [yourself|the] [screen|iphone|ipod|ipad|device]</string>
				</array>
			</dict>
			
			<key>RandomGetter</key>
			<dict>
				<key>category</key>
				<string>Getting random numbers</string>
				<key>examples</key>
				<array>
					<string>Get a random number</string>
				</array>
				<key>patterns</key>
				<array>
					<string>[get|generate] [me] [a] random [number]</string>
				</array>
			</dict>
			
			<key>WouldShouldGetter</key>
			<dict>
				<key>category</key>
				<string>Getting random answers</string>
				<key>examples</key>
				<array>
					<string>Would you kill a man who you hate?</string>
					<string>Should I take Jane out on a date?</string>
				</array>
				<key>patterns</key>
				<array>
					<string>would i|you (w:&lt;word&gt;+)</string>
					<string>should i|you (w:&lt;word&gt;+)</string>
				</array>
			</dict>

			<key>BrightnessSetter</key>
			<dict>
				<key>category</key>
				<string>Controling screen brightness</string>
				<key>examples</key>
				<array>
					<string>Set brightness to 10 %</string>
				</array>
				<key>pattern</key>
				<string>[set|change] brightness|backlight [to] (p:&lt;word&gt;) [percent|%]</string>
			</dict>

			<key>Say</key>
			<dict>
				<key>category</key>
				<string>Others</string>
				<key>examples</key>
				<array>
					<string>Say What a nice weather today!</string>
				</array>
				<key>pattern</key>
				<string>say (what:&lt;word&gt;+)</string>
			</dict>

			<key>BatteryGetter</key>
			<dict>
				<key>category</key>
				<string>Others</string>
				<key>examples</key>
				<array>
					<string>What's the battery level?</string>
				</array>
				<key>pattern</key>
				<string>[what|what's] [is] [the] battery|battery? [level|level?] [?]</string>
			</dict>

			<key>Tweet</key>
			<dict>
				<key>category</key>
				<string>Twitter</string>
				<key>examples</key>
				<array>
					<string>Tweet Hey guys, I got a new version of AE!</string>
				</array>
				<key>pattern</key>
				<string>[send] tweet|tweets (what:&lt;word&gt;*)</string>
			</dict>
		
			<key>PreviewTweet</key> 
			<dict>
				<key>category</key>
				<string>Twitter</string>
				<key>examples</key>
				<array>
					<string>Preview tweet Hey guys, I got a new version of AE!</string>
				</array>
				<key>pattern</key>
				<string>preview|display|show tweet|tweets (what:&lt;word&gt;*)</string>
			</dict>

			<key>Dismiss</key>
			<dict>
				<key>category</key>
				<string>Others</string>
				<key>examples</key>
                <array>
                    <string>Dismiss</string>
				</array>
				<key>pattern</key>
				<string>close|dismiss|hide [siri|assistant|yourself]</string>
			</dict>

		</dict>
	</dict>
</plist>
